		body,html
		{
			margin: 0;
			height: 100%;
		}
		
		#overlay
		{
			position:fixed;
			top: 0;
			left: 0;
			display: none;
			width: 100%;
			min-height: 100%;
			background: transparent url(/img/shade-90.png);
			z-index: 9997;
			opacity: 1;
		}
		
		#overlay a,
		a#next,a#previous,
		a#close-overlay
		{
			text-decoration: none;
			color: #D17B2A;
			font-size: 28px;
			position: absolute;
			display: none;
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);	
		}
		
		a#next,a#previous
		{
			z-index: 10000;
			
		}
		

		#embed-wrapper
		{
			width: 0;
			height: 0;
			display: block;
			margin: 0 0 0 0;
			background:  url(/img/loadinfo.gif) no-repeat center center;
		}
		
		#embed-wrapper iframe
		{
			width: 100%;
			height: 100%;
		}
		
		.thumb-video,.thumb-image
		{
			
			display: inline-block;
		}
		
		
		a.video
		{
			
			font-size: 32px;	
			text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);	
			text-decoration: none;
		}
		
		
		#video-thumb-template
		{
			
			display: none;
		}
		
		
		@media (max-width:990px)
		{
		
			img
			{
				max-width: 220px;
				height: auto;
			}
		
		}
		
		
		@media (max-width:768px)
		{
		
			img
			{
				max-width: 302px;
				height: auto;
			}
		
		}
		
		
		@media (max-width:480px)
		{
		
			img
			{
				max-width: 150px;
				height: auto;
			}
		
		}



		
		
		
		